body
{
    background: black;
    color: gray;
    font-family: Arial;
    font-size: small;
    margin: 0;
}

h1 {
  display: none;
}

div {}

table {
  border: 1px solid black;
}

table td.feat-cell {
  padding: 10px;
  position: relative;
}

table td.feat-cell div.feat {
  left: 3px;
  position: relative;
  height: 38px;
  width: 38px;
  z-index: 1;
}

table td.feat-cell div.points {
  position: absolute;
  z-index: 200;
  background: black;
  color: white;
  width: 25px;
  white-space: nowrap;
  padding: 0px 2px 0px 2px;
  left: -10px;
  top: -12px;
  text-align: center;
}

table td.feat-cell div.an {
  position: relative;
  text-align: center;
}

table td.feat-cell div.points {
    height: 6px;
    padding: 0 0 0 0;
    top: 7px;
    background: url(/assets/images/all.png) no-repeat;
}

table td.feat-cell div.points div.s {
  float: left;
  font-size: small;
}

table td.feat-cell div.points div.a {
    font-size: smaller;
}


div.fh {
    position:relative;
    width: 38px;
    height: 38px;
}

div.border {

    width: 38px;
    height:38px;
    left: 3px;
    position: absolute;
    z-index: 101;
}

div.border img {
    /*  */
}

#info-container {
    position: relative;
    margin-bottom: 20px;
    text-align: right;
}

#clear-button {
    cursor: pointer;
    width: 100px;
    right: 0px;
    position: absolute;
}

.used-points {
    padding-top: 20px;
}


.feat {
    text-align: center;
}

.feat-tree
{
  display: inline-block;
  padding: 0 10px 0 10px;
}

.feat-tree th
{
  text-align: center;
}

.feat-tree #tree1,
.feat-tree #tree2,
.feat-tree #tree3
{
	padding: 0 3px 0 3px;
}

#link
{
    padding: 10px 10px 10px 10px;
    background: #580606;
    width: 700px;
    display: inline-block;
    border-radius: .8em;
    color: #B89191;
}

#link-info {
    width: 24px;
    height: 24px;
    display: inline-block;
}

#link-container {
    margin: 10px 0 10px 0;
}

#feat-planner 
{
  display: inline-block;
  text-align: center;
}

#feat-planner .feat-background
{
  z-index: -100;
  width: 1200px;
  height: 650px;
  background-repeat: no-repeat;
  padding-top: 15px;
  vertical-align: middle;
  background-image: url(/assets/images/background.png);
}

#feat-planner-container
{
    padding-top: 60px;
  text-align: center;
}

#feat-description
{
  z-index: 1000;
  top: -38px;
  left: 60px;
  position: absolute;
  width: 300px;
  background-color: black;
  color: #d0d0d0;
  font-family: Arial;
  font-size: .9em;
}


#feat-description .title
{
    text-align: left;
    font-weight: bolder;
    color: orange;
    padding: 10px;
    border-bottom: 1px solid gray;
}

#feat-description .requirements
{
    text-align: left;
    padding: 10px;
}

#feat-description .requirements .title
{
    font-weight: normal;
    text-align: left;
    padding: 0;
    border: none;
    padding-bottom: 5px;
}


#feat-description .modifications
{
    text-align: left;
    padding: 10px;
}

#feat-description .modifications .title
{
    font-weight: normal;
    text-align: left;
    padding: 0;
    border: none;
    padding-bottom: 5px;
}

#feat-description .description
{
    text-align: left;
    padding: 10px;
}


#feat-description .description .title
{
    font-weight: normal;
    text-align: left;
    padding: 0;
    border: none;
    padding-bottom: 5px;
}

#feat-description .description .small-title
{
    color: orange;
    font-size: smaller;
    font-weight: normal;
    text-align: left;
    padding: 0;
    border: none;
}

#feat-description .description ul
{
    font-size: smaller;
    padding-left: 10px;
}

#used-points
{
}

#hidden-link {
	display: none;	
}

.class-choice-row {
    padding: 20px 0 20px 0;
}

.class-name {
    width: 100px;
    height: 80px;
    vertical-align: bottom;
    text-align: center;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}

.class-name a {
    top: 80px;
    position: relative;
}

#logo {
    height: 248px;
    background-image: url(/assets/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.donate {
    padding-top: 10px;
}

#logo_small {
    left: -30px;
}

nav input[type=image],
nav img,
nav form {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: 30px;
}

.icon {
    background-image: url(/assets/images/icons.png);
}

.conq{
    background-position: -800px 0px;
}

.dt{
    background-position: -500px 0px;
}

.guard{
    background-position: -600px 0px;
}

.bs {
    background-position: -700px 0px;
}

.barb{
    background-position: -900px 0px;
}

.rgr{
    background-position: -300px 0px;
}

.sin{
    background-position: -200px 0px;
}

.hox{
    background-position: -400px 0px;
}

.pom{
    background-position: -100px 0px;
}

.tos{
    background-position: 0px 0px;
}

.necro {
    background-position: -1000px 0px;
}

.demo {
    background-position: -1100px 0px;
}
/* shared definitions */

#link
{
  width: 700px;
}

.container {
    padding-top: 60px;
    text-align: center;
}

.inner-container {
    display: inline-block;
}

footer {
    text-align: center;
    padding: 30px 0 10px 0;
}

.footer em {
    display: block;
    margin: 0 0 5px 0;
}

nav {
    position: fixed;
    background: rgba(50, 50, 50, 0.7);
    padding: 0 10px 0 10px;
    margin: 0;
    height: 40px;
    display: block;
    width: 100%;
    z-index: 2000;
    line-height: 2;
    text-align: center;
    color: #9C1313;
    top: 0;
    left: 0
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-shadow: 0 0 0.2em red;
}

nav span {
    vertical-align: middle;
    line-height: 3;
}

/* shared definitions */



.green {
    color: #87FF23;
}

.red {
    color: #FF3F17;
}

.clear
{
  clear: left;
}

